@charset "UTF-8";
/**
 * Created by liuyun on 15/4/25.
 */
/**** 弹性盒子 begin ****/
*{
    font-family: microsoft yahei, SimHei, simsun;
}
.box, .line-box-wrap {
  display: -webkit-box; }
.box-hor {
  -webkit-box-orient: horizontal; }

.box-ver {
  -webkit-box-orient: vertical; }

.box-align-c {
  -webkit-box-align: center; }

.box-pack-c {
  -webkit-box-pack: center; }

.box-f1 {
  -webkit-box-flex: 1; }

.box-f2 {
  -webkit-box-flex: 2; }

.box-f3 {
  -webkit-box-flex: 3; }

/**** 弹性盒子 END ****/
.mp, a, article, aside, b, blockquote, body, dd, del, dfn, dialog, hr, html, i, iframe,
div, dl, dt, em, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header,
img, label, legend, li, mark, menu, nav, ol, p, pre, q, section, small, span, strong,
sub, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, button, body *, .page {
  margin: 0.0rem;
  padding: 0.0rem; }

.show {
  display: block !important; }

.none {
  display: none !important; }

/**** 元素初始化 begin ****/
a, article, aside, b, blockquote, body, dd, del, dfn, dialog, hr, html, i, iframe,
div, dl, dt, em, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header,
img, label, legend, li, mark, menu, nav, ol, p, pre, q, section, small, span, strong,
sub, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, button {
  border: none;
  font-size: 100%;
  font-weight: normal;
  -webkit-tap-highlight-color: transparent; }

article, aside, details, figcaption, figure, footer, header, nav, section {
  display: block; }

html {
  width: 100%;
  height: auto;
  font-size: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  width: 100%;
  min-height: 100%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  -webkit-touch-callout: none;
  -webkit-user-select: none; }

body * {
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

img {
  border: 0;
  vertical-align: middle;
  font-size: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td, caption {
  vertical-align: top;
  text-align: left; }

/**** 元素初始化 end ****/
/**** 页面初始化 begin ****/
.page {
  padding: 0.2rem;
  min-height: 100%;
  display: none; }

.line-box-wrap {
  width: 100%;
  height: auto; }

.div-space5 {
  width: 0.125rem; }

/**** 页面初始化 end ****/

/****   Util Start   ****/
.fl{float: left;}
.fr{float: right;}
.center{text-align: center;}
.show{display: block}
/****   Util end   ****/

.hideLong{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrap{
  word-break:break-all;
  word-wrap:break-word;
  overflow:auto;
}

/*# sourceMappingURL=bestpay.ui.page.css.map */
.data-line{
    margin-bottom:0.25rem;
}
.attributeDiv{
  padding-right: 0.5rem;
}
.attributeDiv img{
  width: 0.75rem;
}
.fromPage{
  /*-webkit-transform: translateY(-50%);*/
  animation:flipInBottom 10ms linear infinite normal;
  -webkit-animation:flipInBottom 10ms linear infinite normal;
  animation-iteration-count:1;
  -webkit-animation-iteration-count:1;
  position: fixed;
  width: 100%;
  margin: 0.0rem!important;
  padding: 0.0rem!important;
  top:30%;
  z-index: 9;
}
@-webkit-keyframes flipInBottom {
  from {top:100%;}
  to {top:30%;}
}
@keyframes flipInBottom {
  from {top:100%;}
  to {top:30%;}
}
