@charset "UTF-8";
/**
 * Created by liuyun on 15/4/25.
 */
/**
 * Created by liuyun on 15/4/25.
 */
/** 整个应用的基本文本颜色 **/
/**** 弹性盒子 begin ****/
*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline:none;
}
.box, .line-box-wrap, .block-radio-group, .btn-spinner-wrap, .input-wrap ,.item-wrap{
  display: -webkit-box; }

.box-hor {
  -webkit-box-orient: horizontal; }

.box-ver {
  -webkit-box-orient: vertical; }

.box-align-c {
  -webkit-box-align: center; }

.box-pack-c {
  -webkit-box-pack: center; }

.box-f1, .btn-spinner-wrap .btn-spinner-text, .input-wrap .input-out, .item-wrap .item-out, .btn-common-wrap, .block-radio-group .block-radio {
  -webkit-box-flex: 1; }

.box-f2 {
  -webkit-box-flex: 2; }

.box-f3 {
  -webkit-box-flex: 3; }

/**** 弹性盒子 END ****/
.mp, a, article, aside, b, blockquote, body, dd, del, dfn, dialog, hr, html, i, iframe,
div, dl, dt, em, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header,
img, label, legend, li, mark, menu, nav, ol, p, pre, q, section, small, span, strong,
sub, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, button, body *, .page {
  margin: 0.0rem;
  padding: 0.0rem; }

.red {
  color: #CA2424 !important; }
.white {
    color: #ffffff !important; }

/**** 元素初始化 begin ****/
a, article, aside, b, blockquote, body, dd, del, dfn, dialog, hr, html, i, iframe,
div, dl, dt, em, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header,
img, label, legend, li, mark, menu, nav, ol, p, pre, q, section, small, span, strong,
sub, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, button {
  border: none;
  /*font-size: 100%;*/
  font-size: 0.45rem;
  font-weight: normal;
  -webkit-tap-highlight-color: transparent; }

article, aside, details, figcaption, figure, footer, header, nav, section {
  display: block; }

html {
  width: 100%;
  height: auto;
  font-size: 100%;
  -webkit-text-size-adjust: 100%; }
body {
  width: 100%;
  min-height: 100%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  background-color: #f5f5f5; }

body * {
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

img {
  border: 0;
  vertical-align: middle;
  font-size: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td, caption {
  vertical-align: top;
  text-align: left; }

.posting {
  border: 0;
  width: 0.75rem;
  height: 0.75rem;
  background-size: 100% 100%;
}

::-webkit-scrollbar{
  width: 0.0rem;
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.1);
}
::-webkit-input-placeholder{
  color: #cbcbcb;
}
input::-webkit-input-placeholder{
  font-size: 0.55rem;
  line-height: 0.575rem;
}
/**** 元素初始化 end ****/
/**** 页面初始化 begin ****/
.page {
  padding: 0.2rem;
  height: auto;
  min-height: 100%;
  display: none;
  background-color: #f5f5f5; }

.line-box-wrap, .block-radio-group {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0.25rem; }

.div-space5 {
  width: 0.125rem; }

.div-tips-wrap {
  color: #626262;
  margin-top: 0.375rem;
  margin-bottom: 0.25rem;
  height: auto;
  padding-left: 0.1rem;
  padding-right: 0.1rem; }
.div-tips-wrap div:first-child{
  /*color: #87ba26;*/
}
.div-tips-wrap div {
  font-size: 0.35rem;
  line-height: 0.45rem;
  height: auto; }

.div-top-black {
  z-index: 7;
}

.div-confirm-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #EFEFF4;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden; 
  z-index:100;
  -webkit-transform: translateY(300%) translateZ(0);
}

.confirm-item {
  height: auto;
  color: #616162;
  border-bottom: 1px solid #DEDEE2;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-size: 0.45rem; 
  margin: 0 0.65rem;
}
.confirm-item em{ 
  font-style: normal;
}
.confirm-item span{ 
 padding-left: 0.65rem;
}

.premium-item{
  font-size: 0.35rem;
}

/**** 页面初始化 end ****/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  line-height: 0.5rem;
  font-size: 0.5rem;
  color: #626262; }

.btn-spinner-wrap {
  color: #626262;
  min-width: 40%;
  min-height: 1.25rem;
  line-height: 1.25rem;
  border: 1px solid #C4C5C7;
  background-color: #FEFFFF; }

.btn-spinner-wrap .btn-spinner-text {
  margin-left: 0.25rem; }

.input-wrap {
  color: #626262;
  border: 1px solid #DBDCDC;
  background-color: #FEFFFF;
  border-radius: 0.125rem;
}
.input-wrap span{
  line-height: 1.5rem;
  font-size: 0.5rem;
  margin-left: 0.25rem;
}

.input-wrap .input-out {
  height: 1.45rem;
  line-height: 1.475rem;
  padding-left: 0.375rem;
  background: none;
  background-repeat: no-repeat;
  background-position: 0.25rem;
  background-size:0.025rem;
}

.input-out .input-text {
  -webkit-appearance: none;
  border: none;
  color: #2e2e2e;
  min-height: 0.8rem;
  line-height: normal;
  font-size: 0.475rem;
  width: 100%;
  outline: none;
  background: none;
}


.item-wrap{
  color: #626262;
  border: 1px solid #DBDCDC;
  background-color: #FEFFFF;
  border-radius: 0.125rem;
}
.item-wrap span {
  line-height: 1.5rem;
  font-size: 0.5rem;
  margin-left: 0.25rem;
}
.item-out{
  height: 1.45rem;
  line-height: 1.475rem;
  padding-left: 0.375rem;
  color: #626262;
  background-repeat: no-repeat;
  background-position: 0.25rem;
  background-size: 0.025rem;
  overflow: hidden;
}
.item-out div{ font-size: 0.5rem;}
.item-in{
  -webkit-appearance: none;
  border: none;
  color: #2e2e2e;
  line-height: normal;
  font-size: 0.45rem;
  width: 100%;
  outline: none; }

.btn-common-wrap {
  margin-top: 0.125rem; }

.btn-common-wrap button {
  font-size: 0.5rem;
  background-color: #ff7e00;
  color: #ffffff;
  min-height: 1.25rem;
  height: auto;
  /*border: 1px solid #93bf53;*/
  width: 100%;
  outline: none;
  border-radius: 0.125rem;
}.btn-common-wrap button span{
   font-size: 0.5rem;
 }
 .block-radio-group .block-radio {
  height: 1.35rem;
  line-height: 1.35rem;
  margin: 0.05rem;
  font-size: 0.5rem;
  text-align: center; }

.block-radio-group .block-radio:last-child {
  margin-right: 0.0rem !important; }

.block-radio-group .block-radio:first-child {
  margin-left: 0.0rem !important; }

.block-radio-group .block-radio-normal {
  border-bottom: 1px solid #cccccc;
  /*background-color: #FFFFFF;*/
  color: #4d4d4d; }

.block-radio-group .block-radio-checked {
  border-bottom: 1px solid #99c747;
  color: #ff7f00;
  /*background: url("../img/radio_group_checked.png") no-repeat right bottom;*/
  background-size: 0.5rem 0.5rem;
  /*background-color: #0086FF;*/
}
.block-radio-group .block-radio-disabled {
  border: 1px solid #85A4B6;
  background-color: #758D9D;
  color: #000000;
}
/*# sourceMappingURL=bestpay.ui.form.css.map */

/*                    dialog  class  start                    */
.dialogClass-bg{
  width: 100%;
  height: 100%;
  background: #636363;
  position: fixed;
  top: 0.0rem;
  left: 0.0rem;
  filter: alpha(opacity = 50);
  opacity: 0.7;
  z-index: 8;
}
.dialogClass-content{
  top: 0%;
  min-width: 84%;
  left: 8%;
  right: 8%;
  position: fixed;
  z-index: 9;
}
.dialogClass-content pre{
  white-space:pre-wrap;
  word-wrap:break-word;
}
.dialogClass-div-item{
  background:white;
  padding: 0.0rem 0.125rem 0.0rem 0.125rem;
}

.dialogClass-list-content{
  position:fixed;
  margin:auto;
  left:5%;
  right:5%;
  top:10%;
  bottom:10%;
  width:90%;
  background:white;
  max-height: 80%;
  z-index: 9;
  /*overflow-y: auto;*/
}
.dialogClass-item-out{
  overflow-y: auto;
}
.dialogClass-item{
  padding-top:0.125rem;
  color: grey;
}
.dialogClass-list-item{
  padding: 0.375rem 0.125rem 0.375rem 0.125rem;
  border-bottom: 1px solid #e0e0e0;
  color: grey;
}

.dialogClass-div-btn{
  padding:0.125rem 0.0rem 0.125rem 0.0rem;
}
.dialogClass-btn{
  text-align: center;
  color: white;
  height: 1.25rem;
  line-height: 1.25rem;
  font-size: 0.45rem;
}
.dialogClass-btn-goahead{
  background: #0097fe;
  margin-right: 0.125rem;
}
.dialogClass-div-btn div:last-child{
  background: #60676d;
  margin-right: 0.0rem;
}

/*                    dialog  class  end                     */

/***************************DropDownBox start**********************************/
.dropDownBox-bg{
  width: 100%;
  height: 100%;
  background: #636363;
  position: fixed;
  top: 0.0rem;
  left: 0.0rem;
  filter: alpha(opacity = 50);
  opacity: 0.0;
  z-index: 8;
}
.dropDownBox-list-content{
  position:absolute;
  margin:auto;
  background:#fff;
  text-align: center;
  /*max-height: 100%;*/
  z-index: 9;
  overflow-y: auto;
  border: 1px solid #e0e0e0;
  box-shadow :  0.0rem -0.075rem 0.05rem #cfcfcf inset;
}
.dropDownBox-list-item{
  padding: 0.375rem 0.125rem 0.375rem 0.25rem;
  border-bottom: 1px solid #e0e0e0;
  color: grey;
  font-size: 0.4rem;
}
.dropDownBox-list-item:hover,.dropDownBox-list-item:active { background: #EDEDED;}
/*****************************DropDownBox end*******************************/
