
.input-title-text {
    -webkit-appearance: none;
    border: none;
    color: #2e2e2e;
    line-height: normal;
    font-size: 0.35rem;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    outline: none; }

.input-small-text {
    -webkit-appearance: none;
    border: none;
    color: #2e2e2e;
    padding-left: 10px;
    padding-right: 10px;
    line-height: normal;
    font-size: 0.25rem;
    width: 100%;
    outline: none; }
.img-div{
    min-width: 60px;
}
.bottom-toolbar{
    position:fixed;
    bottom:0;
    width:100%;
    height:auto;
    clear:both;
    background-color: white;
}


.tabs {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    font-weight: 300;
    font-size: 1.25em;
}

#page_store, #page_food_detail {
    display: none;
}
/* Nav */
.tabs nav {
    text-align: center;
}

.tabs nav ol {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    /*display: -moz-flex;*/
    /*display: -ms-flex;*/
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.tabs nav ol li {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.tabs nav a {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5;
}

/*****************************/
/* Top Line */
/*****************************/

.tabs-style-topline {
    max-width: 1200px;
}

.tabs-style-topline nav li {
    border: 1px solid rgba(40,44,42,0.1);
}

.tabs-style-topline nav li:not(:last-child) {
    border-right: none;
}

.tabs-style-topline nav li.tab-current {
    border-top-color: #2CC185;
    border-bottom: none;
}

.tabs-style-topline nav a {
    padding: 0.65em 0 0.5em;
    /*background: rgba(40,44,42,0.05);*/
    color: #74777b;
    line-height: 1;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}


.tabs-style-topline nav li.tab-current a {
    background: none;
    box-shadow: inset 0 3px 0 #2CC185;
    color: #2CC185;
}

.tabs-style-topline {
    display: block;
    margin: 0;
}

.tabs-style-topline nav a span {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 0.8em;
}
.icon{
    background: no-repeat 50%;
    min-width: 40px;
    min-height: 25px;
    display: block;
    text-align: center;
}
.icon-home{
    background-image: url("../img/icon-home.png");
}
.icon-menu{
    background-image: url("../img/icon-menu.png");
}
.icon-cart{
    background-image: url("../img/icon-cart.png");
}
.icon-info{
    background-image: url("../img/icon-info.png");
}
.icon-add{
    background:no-repeat url("../img/icon-add.png") 50%;
}
.icon-del{
    background:no-repeat url("../img/icon-del.png") 50%;
}
.icon-right-arrow{
    background:no-repeat url("../img/right-arrow.png") 50%;
}
.selected-tab-color{
    color: #2CC185;
}
.tab-div{
    width: 100%;
}
.home-div{
    background-color:#FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}
/**
*单行标题，左垂直居中
*/
.div-span-single-title{
    padding: 2px 0px 2px 10px;
    min-width: 80px;
    margin-right: auto;
}
.div-span-title{
    padding: 2px 0px 2px 10px;
    min-width: 80px;
    margin: auto;
}
.div-span-content{
    -webkit-appearance: none;
    border: none;
    color: #808080;
    padding: 2px 10px;
    font-size: 0.35rem;
    outline: none;
    margin: auto
}
.banner{
    background: no-repeat url("../img/banner.png");
    width: 100%;
    height: 125px;
    display: block;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
.food{
    background: no-repeat url("../img/food.png");
    width: 100%;
    max-height: 300px;
    min-height: 180px;
    display: block;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

.inline-block{
    display: inline-block;
}

.div-menu-left{
    width: 30%;

}
.div-menu-right{
    /*配合flext使用，占满剩余空间*/
    width: 100%;
    display: flex;
    display:  -webkit-flex;
    height: 60px;
    line-height: 30px;
}
.flext{
    display: -webkit-flex;
    display: flex;
}
.border{
    border: 1px solid rgba(40,44,42,0.1);
}

.span-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.div-add-padding{
    padding-right: 30px;
    padding-top: 10px;
}
.div-span-food{
    background: no-repeat 50% url(../img/store1.png);
    display: inline-block;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    padding-right: 30px;
}
.sub-menu-div{
    display: inline-block;
}

.bottom-logo-div{
    min-height: 80px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #808080;
}
.price-color{
    color: #CA2424;
}
.detail-back{
    background: no-repeat 50% url(../img/icon-back.png);
    display: inline-block;
    width: 30px;
    height: 30px;
}

.title-bar{
    background-color: #2CC185;
    width: 100%;
    height: 30px;
    text-align: left;
    line-height: 30px;
}
.span-back{
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: white;
    font-size: 0.35rem;
    position: absolute;
}

.price-div-left{
    background-color: #504f44;
    color: white;
    font-size:0.35rem;
    width: 70%;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
}
.price-div-right{
    background-color: #CA2424;
    display: none;
    height: 50px;
    line-height: 50px;
    color: white;
    width: 30%;
}
.price-div-right span{
    text-align: center;
    font-size: 0.35rem;
    width:100%;
    display: block;
}
.price-toolbar{
    height: 50px;
    background-color:#504f44 ;
}

.left-car-menu-div{
    display: inline-block;
}
.middle-car-menu-div{
    display: inline-block;
    position: absolute;
}
.right-car-menu-div{
    display: inline-flex;
    float: right;
    padding-right: 10px;
    position: relative;
}

.car-span-title{
    -webkit-appearance: none;
    border: none;
    color: #2e2e2e;
    line-height: normal;
    font-size: 0.35rem;
    width: 100%;
    padding: 2px 0px 2px 10px;
    outline: none;
    display: inline-block;
    min-width: 90px;
}

.cum-info-div{
    width: 100%;
    height:125px;
    background-color:#2CC185 ;
    color: white;
    font-size: 0.35rem;
}
.pay-way{
    border: solid rgba(40,44,42,0.1);
    padding:5px 10px;
    background-color: white;
}
.magin-auto{
    margin: auto;
}
.magin-right-auto{
    margin-right: auto;
}
.success-color{
    color:#2CC185 ;
}